[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icecream = "*"
rich = "*"
jsonschema = "*"
fire = "*"
openai = "*"
anthropic = "*"
aiofiles = "*"
tenacity = "*"
texsoup = "*"
pylatexenc = "*"
langchain = {extras = ["anthropic"], version = "*"}
pydantic = "*"

[dev-packages]
black = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
main = "pipenv run python src/main.py"
# removes backup files created by latex
remove_backups = "bash -c \"rm **/**/*.bak*\""
# formats python files with `black`
format_py = "bash -c \"black src/**.py\""
# formats .tex files with `latexindent`
format_tex = "bash -c \"latexindent -w book/index.tex book/chapters/*.tex > /dev/null\""
