[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icecream = "*"
rich = "*"
jsonschema = "*"
fire = "*"
openai = "*"
anthropic = "*"
aiofiles = "*"
tenacity = "*"
texsoup = "*"
pylatexenc = "*"
langchain = { extras = ["anthropic"], version = "*" }
pydantic = "*"
inflect = "*"

[dev-packages]
black = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
main = "pipenv run python src/main.py"
